<div class="bg-gray-600 min-h-screen flex justify-center items-center">
  <div class="container px-[1rem] mx-auto">
    <div>
      <h2 class="h2 text-white">Liste</h2>
      <p class="text-white">
        {{ this.backend.list }}
      </p>

      <form
        class="lg:w-1/4"
        #form="ngForm"
        (ngSubmit)="getValueofFormAndFillList(form.value); form.reset()"
      >
        <input
          class="px-2 py-1 rounded mt-2 focus-within:outline-none w-full"
          ngModel
          type="numer"
          name="number"
          id="number"
          placeholder="100"
          min="1"
          max="1000"
          required
        />
        <button
          [disabled]="!form.valid"
          class="bg-black disabled:bg-gray-300 disabled:cursor-not-allowed text-white cursor-pointer px-2 py-1 rounded mt-3"
        >
          Liste anfordern
        </button>
      </form>
    </div>

    <div>
      <h2 class="h2 text-white">Items</h2>
      <p class="text-white">
        {{ this.backend.items }}
      </p>

      <button
        class="bg-black text-white cursor-pointer px-2 py-1 rounded mt-3"
        (click)="this.backend.increaseItems(this.backend.lastItem)"
      >
        Zahl anfordern
      </button>
    </div>
  </div>
</div>
